
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4e1d2; /* Cor de fundo café claro */
    font-family: 'Poppins', sans-serif;
    /* isso aqui é resetar a configuração do navegador ao iniciar */
}

a{  
    
    text-decoration: none;
}